<main>
<% flash.each do |message_type, message| %>
<%= message %>
<% end %>

<div class="container">

<!-- books -->
<div class="row">
   <div class="col-xs-3">
     <%= render 'users/list', user: @user, book: @book_new %>
   </div>
   <div class="col-xs-9">
   <div class="book">
    <h2>Book detail</h2>
     <table class="table" >
      <thead>
       <tr>
        <th></th>
        <th>Title</th>
        <th>opinion</th>
       </tr>
      </thead>
     <tbody>
       <tr>
        <td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
        <td><%= link_to @book.user.name, user_path(@user.id) %></td>
        <td><%= link_to @book.title, book_path(@book.id) %></td>
        <td><%= @book.body %></td>
        </tr>
        <tr>
        <td>



           <!-- いいね機能 -->
          <ul>
          <div id="favorites_buttons_<%= @book.id %>">
             <%= render partial: 'favorites/favorite', locals: { book: @book} %>
          </div>
           </ul>
        </td>
       </tr>
     </tbody>
    </table>
    <% if @book.user == current_user %>
      <li><button class="btn btn-success">
            <%= link_to 'Edit', edit_book_path(@book.id) %>
          </button>
           <button class="btn btn-danger">
            <%= link_to 'Destroy', book_path(@book.id), method: :delete, data: {confirm: "Are you sure?"} %>
           </button>
       </li>
    <% end %>
    <div class="comment-list bt style-2" id="comments">
      <div class="float-wrapper">
        <h2 class="comment-count"><%= @book.book_comments.count %>件コメント</h2>
  </div>


  <!-- comment -->


    <ol>
     <div id="comments_area">
         <%= render partial: 'book_comments/index', locals: {book: @book, book_comment: @book_comment} %>


<!-- post comment -->

   </div>
   </div>
   </div>
  </div>
 </div>
</main>